* {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0,875px;
    cursor: pointer;
    color: #17233D;
    margin-left: 32px;
}
.log-in{
 
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 190px;
    height: 50px;
    margin-left: 32px;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    
}

.logo-right {
    margin: 82px 0 0 123px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 43px;
    Width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0,5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    
}

.button-lore {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    background: transparent;
    border: none;
}
